[submodule "carbon-t-eurekaserver"]
	path = carbon-t-eurekaserver
	url = https://github.com/Mahmoud-Saad92/carbon-t-eurekaserver.git
[submodule "carbon-t-config-server"]
	path = carbon-t-config-server
	url = https://github.com/Mahmoud-Saad92/carbon-t-config-server.git
[submodule "carbon-t-user-service"]
	path = carbon-t-user-service
	url = https://github.com/Mahmoud-Saad92/carbon-t-user-service.git
[submodule "carbon-t-contact-service"]
	path = carbon-t-contact-service
	url = https://github.com/Mahmoud-Saad92/carbon-t-contact-service.git
